.columns {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: -0.5rem;
  .column{
    padding: 0.5rem;
  }
}
.field {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
	.control {
		input, textarea, select {
			background: white;
			border-radius: 0.25rem;
			color: #DDDDDD;
      font-size: 1.25em;
			&:focus, &:active {
				border: none;
			}
		}
		.select:not(.is-multiple):not(.is-loading)::after {
			border-color: #DDDDDD;
		}
	}
}
.select:not(.is-multiple):not(.is-loading)::after{
  border-color: $primary;
}
.select:not(.is-multiple){
  height: auto;
}

h5 {
	color: #0F5788 !important;
}
