#dashboard main#receipt{
  .modal{
    #createReceipt{
      min-height: 500px;
    }
  }
  .content{
    grid-template-columns: 1fr 1fr;
  }
  .content section {
    .tableContainer {
      header {
        grid-template-columns: 3fr 1fr;
        h4{
        }
      }
    }
  }
  table{
    tr.disabled{
      cursor: not-allowed;
      color: #aaa;
    }
  }
} 
