#dashboard{
	#createService, #updateService{
		.content{
			input, textarea, select, .select {
				font-size: 1rem;
				width: 100%;
        text-align: left;
			}
			.block{
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				input{
					margin-bottom: 0;
				}
				.b-radio.radio .control-label{
					font-size: 1rem;
				}
			}
			.info-one {
				grid-template-columns: 11fr 1fr;
			}
			.info-two {
				grid-template-columns: 1fr 1fr 1fr;
			}
			.info-three {
				grid-template-columns: 2fr 2fr;
				.block {
					font-size: 12px;
				}
			}
			.info-four {
				grid-template-columns: repeat(3, 1fr);
			}
			.description {
			}
			.service{
			}
		}
	}
	#createService{
		.content{
			.info-one {
				grid-template-columns: 11fr 1fr;
			}
			.info-two {
				grid-template-columns: 1fr 1fr;
			}
			.info-three {
				grid-template-columns: 2fr 2fr;
				.block {
					font-size: 12px;
				}
			}
		}
	}
}

.empty {
	p {
		.icon {
			display: inline !important;
		}
	}
}
