#showService {
  .service-information {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    input, textarea, select {
      font-size: 16px;
    }
    .description-service {
      .info-one {
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-gap: 1rem;
      }
      .info-two {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-gap: 1rem;
      }
      .info-three {
       display: grid;
       grid-template-columns: 2fr 2fr;
       grid-gap: 1rem; 
       .block {
        font-size: 12px;
       }
      }
      .info-four {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
    .description {
      textarea {
        font-size: 16px;
      }
    }
  }
}