@import '../3-components/clients/create';
#clients {
  height: 100%;
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    input, textarea {
      font-size: 16px;
    }
    .info-first {     
      display: grid;
      grid-template-columns: 8fr 1fr;
      grid-gap: 1rem;
    }
    .info-second {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
      .block {
        font-size: 12px;
        margin-top: 2.5rem;
      }
    }
    .address {
      h3 {
        margin-bottom: 0;
      }
    }
    .info-three {
      display: grid;
      grid-template-columns: 4fr 1fr;
      grid-gap: 1rem;
    }
    .info-fourth {
      display: grid;
      grid-template-columns: 1fr 2fr 2fr;
      grid-gap: 1rem;
    }
    .others {
      .buttons {
        float: right;
        padding: .5rem;
        font-size: 12px;
        background: #2B4E72;
      }
    }
  }
  .tableClients {
    background: #ccc;
    padding: 1rem;
    .headerTable {
      h4 {
        font-weight: 200;
      }
      position: relative;
      .control {
        position: absolute;
        top: 0;
        right: 0;
        input {
          width: 330px;
          font-size: 16px;
        }
      }
      .buttons {
        position: absolute;
        top: 1px;
        right: 340px;
        padding: .5rem;
        font-size: 12px;
        background: #2B4E72;
      }
    }
    .b-table {
      padding-top: 1rem;
    }
  }
}
.animation-content {
  max-width: 1196px !important;
  background: white;
  width: 1196px;
  border-radius: 4px;
}