@import '../3-components/clients/create';
main#clients {
  height: 100%;
  .content{
    .__secundary{
      .tableContainer{
        header{
          grid-template-columns: 2fr 2fr 2fr .2fr .2fr;
           span {
            justify-self: end;
            cursor: pointer;
          }
          input{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .tableClients {
    background: #ccc;
    padding: 1rem;
    .headerTable {
      h4 {
        font-weight: 200;
      }
      position: relative;
      .control {
        position: absolute;
        top: 0;
        right: 0;
        input {
          width: 330px;
          font-size: 16px;
        }
      }
      .buttons {
        position: absolute;
        top: 1px;
        right: 340px;
        padding: .5rem;
        font-size: 12px;
        background: #2B4E72;
      }
    }
    .b-table {
      padding-top: 1rem;
    }
  }
}
.animation-content {
  max-width: 1196px !important;
  background: white;
  width: 1196px;
  border-radius: 4px;
}
