#dashboard {
  height: 100%;
  .component {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
  main{
    h3{
      position: relative;
      #edit{
        position: absolute;
        top: 0;
        right: 0;
      }
      
    }
  }
  .modalMessage{
    height: 400px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      color: white;
      text-align: center;
    }
    &#success{
      background: #009688;
    }
    &#error{
      background: #F44336;
    }
  }
}
.quillWrapper{
  .ql-snow.ql-toolbar{
    button{
      padding: 0.25rem;
      width: auto;
      height: auto;
      margin-right: 0.5rem;
      &:hover{
        @include card(1);
      }
      svg{
        @include size(0.25rem);
      }
    }
  }
}
.quillWrapper .ql-snow.ql-toolbar{
  border-radius: 0.5rem 0.5rem 0 0;
}
.ql-container.ql-snow{
  border-radius: 0 0 0.5rem 0.5rem;
}
