.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
.page#login{
	background: $primary;
	height: 100vh;
	.wrapper{
		display: flex;
	}
	form{
		padding: 2rem;
		background: white;
		display: block;
		width: 600px;
		margin: 0 auto;
		border-radius: 0.5rem;
		margin-top: 4rem;
		label{
			color: #333;
		}
		section{
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 2fr 6fr;
			align-items: center;
		}
	}
}
