#navstrip {
  background: #2B4F73;
  // height: 100%;
  position: sticky;
  top: 0;
  height: 100vh;
  .logo {
    background: white;
    height: 96px;
  }
  .links {
    li {
      text-decoration: none;
      padding: 1rem;
      color: white;
      margin: 0;
      cursor: pointer;
      &:hover {
        background: #D36063
      }
    }
    .__active {
      background: #D36063;
    }
    .selectService {
      a {
        text-decoration: none;
      }
      .icon-select {
        border: 1px solid white;
        position: absolute;
        right: 19px;
        top: 292px;
        background: white;
        cursor: pointer;
      }
    }
    .alternative {
      background: #D37D7F;
      li {
        padding-left: 3rem;
      }
    }
  }
}