#rhs {
	height: 100%;
  h2 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  #createRh {
    position: absolute;
    top: 0;
    right: 2rem;
    font-size: .7em;
    background: #2B4F73;
  }
  .content {
    .rh{
        input, textarea {
          font-size: 16px;
          width: 100%;
        }
      .info-first {     
        display: grid;
        grid-template-columns: 8fr 1fr;
        grid-gap: 1rem;
      }
      .info-second {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
        .block {
          font-size: 12px;
          margin-top: 2.5rem;
        }
      }
      .address {
        h3 {
          margin-bottom: 0;
        }
      }
      .info-three {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 1rem;
      }
      .info-fourth {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-gap: 1rem;
      }
      .course {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-top: 1.5rem;
      }
    }
    .competencias {
      input, textarea {
          font-size: 16px;
          width: 100%;
        }
    }
  }
  .serviceTable {
    background: #ccc;
    padding: 1rem;
    .headerTable {
      h4 {
        font-weight: 200;
        margin-top: 1px;
      }
      position: relative;
      .control {
        position: absolute;
        top: 0;
        right: 0;
        input {
          width: 330px;
          font-size: 16px;
        }
      }
      .buttons {
        position: absolute;
        top: 1px;
        right: 340px;
        padding: .5rem;
        font-size: 12px;
        background: #2B4E72;
      }
    }
  }
  .basic-filter, .academic-filter {
    display: grid;
    grid-template-columns: 1fr 3fr 4rem;
    grid-gap: 1rem;
    .selecte select {
      padding: 0;
      padding-right: 0;
    }
    input {
      margin-bottom: 0;
    }
  }
  .bottonFilter {
    button {
      width: 100px;
      margin-right: 1rem;
    }
  }
}

.__secundary{
  .tableContainer{
    header{
      grid-template-columns: 2fr 2fr 4fr .2fr .2fr;
        span {
        justify-self: end;
        cursor: pointer;
      }
      input{
        margin-bottom: 0;
      }
    }
  }
}

.headerDetails {
  grid-template-columns: 2fr 2fr .2fr .2fr;
}

#master {
  .content {
    #academics {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
}