@import '../3-components/_details.scss';
@import '../3-components/receipt.scss';
@import '../3-components/service/_show';
@import '../3-components/service/_create';

#dashboard #services{
  .content{
    section{
      article{
        &:nth-child(1){
          grid-template-columns: 11fr 1fr;
        }
        &:nth-child(3), &:nth-child(4) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
    &#table{
      grid-template-columns: 1fr;
      header{
        h4 {
          font-weight: 200;
        }
        position: relative;
        .control {
          position: absolute;
          top: 0;
          right: 0;
          input {
            width: 330px;
            font-size: 16px;
          }
        }
        .buttons {
          position: absolute;
          top: 1px;
          right: 340px;
          padding: .5rem;
          font-size: 1rem;
          background: #2B4E72;
        }
      }
    }
  }
}
#dashboard #serviceDetails{
  .content{
    grid-template-columns: 3fr 2fr;
    section{
      article{
        grid-template-columns: 11fr 1fr;
        &:nth-child(4){
          grid-template-columns: repeat(3, 1fr);
        }
      }
      #rh{
        article{
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
#services {
  .info {
    height: 100%;
  }
  height: 100%;
  h2 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
}
