@import '../3-components/_details.scss';
@import '../3-components/receive.scss';

#service {
  height: 100%;
  h2 {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
  }
  .service-information {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    input, textarea, select {
      font-size: 16px;
    }
    .description-service {
      .info-one {
        display: grid;
        grid-template-columns: 10fr 1fr;
        grid-gap: 1rem;
      }
      .info-two {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-gap: 1rem;
      }
      .info-three {
       display: grid;
       grid-template-columns: 2fr 2fr;
       grid-gap: 1rem; 
       .block {
        font-size: 12px;
       }
      }
      .info-four {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
    .description {
      textarea {
        font-size: 16px;
      }
    }
  }
  .serviceTable {
    background: #ccc;
    padding: 1rem;
    .headerTable {
      h4 {
        font-weight: 200;
      }
      position: relative;
      .control {
        position: absolute;
        top: 0;
        right: 0;
        input {
          width: 330px;
          font-size: 16px;
        }
      }
      .buttons {
        position: absolute;
        top: 1px;
        right: 340px;
        padding: .5rem;
        font-size: 12px;
        background: #2B4E72;
      }
    }
  }
}