#home {
  height: 100%;
  .columns {
    height: 100%;
    margin: 0;
    .column {
      margin: 0;
      padding: 0;
    }
  }
}
#dashboard {
  height: 100%;
  .columns {
    height: 100%;
    margin: 0;
    .column {
      margin: 0;
      padding: 0;
    }
  }
  .clients {
    padding: 1rem;
  }
}